{
  "devices": {
    "default": "<device_id>",
    "<device_id>": {
      "ip": "xxx.xxx.xxx.xxx",
      "user": "<username>",
      "password": "<password>"
    }
  },
  "projects": {
    "default": "<project id>",
    "<project id>": {
      "directory": "<path/to/repo>",
      "folders": ["resources","source"],
      "files": ["manifest"],
      "excludes": [],
      "app_name": "<app name>",
      "stage_method": "<git|script>",
      "stages":{
        "production": {
          "branch": "production",
          "key": "key1"
        }
      }
    }
  },
  "keys": {
    "key1": {
      "keyed_pkg": "<path/to/signed/package>",
      "password": "<password>"
    }
  }
}
