
$config = {
  ip: "", # Add device IP
  user: "", # Add device username
  password: "", # Add device password
}

$sideload_config = {
  root_dir: "" # Add path to app to be sideloaded
}

$rekey_config = {
  keyed_pkg: "", # Add path to signed package
  password: "" # Add password for package above
}
