{
  "devices": {
    "default": "roku",
    "roku": {
      "ip": "xxx.xxx.xxx.xxx",
      "user": "<username>",
      "password": "<password>"
    }
  },
  "projects": {
    "default": "<project id>",
    "<project id>": {
      "directory": "<path/to/repo>",
      "folders": ["resources","source"],
      "files": ["manifest"],
      "app_name": "<app name>",
      "stages":{
        "production": {
          "branch": "production",
          "key": {
            "keyed_pkg": "<path/to/signed/pkg>",
            "password": "<password for pkg>"
          }
        }
      }
    }
  }
}
